version: '3.8'
services:
  mongodb:
    image: mongo:latest
    ports:
      - 27021:27017
    volumes:
      - mongodb_data_container:/data/db

  api: 
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 4000:3000
    command: npm run start:prod
    depends_on:
      - mongodb

volumes:
  mongodb_data_container: